@media (max-width:768px) {
    body{
        background-color: rgb(243, 245, 248);
        color:  rgb(15, 15, 58);
        font-size: large;
    }

    header{
        display: flex;
        flex-wrap: wrap;

    }
     header img {
        width: 10%;
     }

     #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #0c0000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❎";
    }
    
    .navigation ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        list-style: none;
        background-color: #5b4057;
        color: #fff;
        font-weight: bolder;
        
        
        
    }
    
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }
    
    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    hero {
        display: flex;
    }

    .hero img{
        width: 100%;
        max-height:250px;
        margin: 15px 15px 15px 15px;
        padding: 15px 15px 15px 15px;
        align-self: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        border-radius: 10%;
    }

    .discover-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .sidebar h3{
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1rem 0;
        color: white !important;
        background-color: darkblue !important;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        border: 1px solid darkblue !important;
        justify-content: center;
        justify-self: center;
        align-items: center;
    }

    .sidebar p {
        font-size: 1.2rem;
        margin: 1rem 0;
        font-weight: 700;
    }
        
        
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    
     .discover-container{
        display: flex;
        background: #5b4057;
        min-height: 100vh;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
    }
    
    .calendar-container {
        background: #fff;
        width: 450px;
        border-radius: 10px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
        padding: 30px;
        margin-bottom: 30px;
    }
    
    .calendar-container header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
    }
    
    .calendar-navigation {
        display: flex;
    }
    
    .calendar-navigation span {
        height: 38px;
        width: 38px;
        margin: 0 1px;
        cursor: pointer;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
        user-select: none;
        color: #aeabab;
        font-size: 1.9rem;
    }
    
    .calendar-navigation span:last-child {
        margin-right: -10px;
    }
    
    .calendar-navigation span:hover {
        background: #f2f2f2;
    }
    
    .calendar-current-date {
        font-weight: 500;
        font-size: 1.45rem;
    }
    
    .calendar-body {
        padding: 20px;
    }
    
    .calendar-body ul {
        list-style: none;
        flex-wrap: wrap;
        display: flex;
        text-align: center;
    }
    
    .calendar-body .calendar-dates {
        margin-bottom: 20px;
    }
    
    .calendar-body li {
        width: calc(100% / 7);
        font-size: 1.07rem;
        color: #414141;
    }
    
    .calendar-body .calendar-weekdays li {
        cursor: default;
        font-weight: 500;
    }
    
    .calendar-body .calendar-dates li {
        margin-top: 30px;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }
    
    .calendar-dates li.inactive {
        color: #aaa;
    }
    
    .calendar-dates li.active {
        color: #fff;
    }
    
    .calendar-dates li::before {
        position: absolute;
        content: "";
        z-index: -1;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    
    .calendar-dates li.active::before {
        background: #6332c5;
    }
    
    .calendar-dates li:not(.active):hover::before {
        background: #e4e1e1;
    }

    /*-----------Form style-----------*/
    .app-form fieldset {
        margin: 2rem 0;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: .5rem 2%;
        max-width: 400px;
    }

    .app-form legend {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    
    .app-form label {
        display: block;
        margin-bottom:.5rem;
        margin-bottom: .1rem;
        font-weight: bolder;
    }

    .app-form input, 
    .app-form select, 
    .app-form textarea{
        display: block;
        width: 96%;
        padding:.5rem;
        border: 1px solid #6c6565;
        border-radius: 6px;
        margin-bottom: 2rem;
    }
    
    .app-form input:focus {
        outline: none;
    }
    
    .app-form button {
        display: block;
        width: 100%;
        padding:.5rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        margin-top: 1rem;
        cursor: pointer;
    }
    
    .app-form button:focus {
        outline: none;
    }
    .app-form button{
        background-image: linear-gradient(#5b4057, #926d8c);
        color: white;
        font-weight: bolder;
        font-size: x-large;
        box-shadow: 4px 4px 6px 4px rgba(0,0,0,0.2);
        width: 96%;
    }
    
    .app-form button:hover {
        background: #ddd;
    }
    
    .app-form button:active {
        background: #dfbbbb;
    }

    .app-form input:required {
        border-left: 8px solid red ;
    }

    .app-form input:required:valid{
        border-bottom: 4px solid green ;
    }

    .outside-form {
        display: block;
        width: 100%;
        padding:.5rem;
        margin: .87rem;
    }

    .outside-form ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: .8rem;
    }

    .outside-form ul li{
        padding: 1rem;
        list-style: georgian;
    }

    .directory {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
    }

    .grid-container {
        width: 100% ;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1rem;
    }

    .member {
        padding: 1rem; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background: #f7f7f7;
        border-radius: 4px;
        text-align: center;
    }

    .member h2 {
        margin: 0.5rem 0;
    }

    .member p {
        margin-bottom: 0.5rem;
    }

    .member a {
        display: block;
        margin-top: 1rem;
        background:#00a0aa;
        color: white;
        padding: 0.5rem;
        border-radius: 4px;
        text-decoration: none;

    }

    #list-view {
        width: 100%;
    }

    #list-view .member {
        display: block;
        margin-bottom: 1rem;
    }










    
   footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #5b4057;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
   }

   

}